* {
  box-sizing: border-box;
}

.gAllerySection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1322px;
  height: 1696px;

  .pasKumiBildSUnVideo {
    margin: 0px 0px 0px 113px;
    width: 1094px;
    text-align: center;
    line-height: 67px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 60px;
  }

  .ieskatiesMSuPasKumuS {
    margin: 25px 0px 0px 28px;
    width: 1265px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .group1000001806 {
    margin-top: 55px;
    width: 1322px;
    height: 609px;
  }

  .autoWrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 25px;
    padding-right: 2px;
    padding-left: 0;

    .berniemPasakumiBalli {
      border-radius: 10px;
      width: 424px;
      height: 346px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 59px;
    padding-right: 0;
    padding-left: 0;

    .vector {
      width: 35px;
      height: 35px;
    }

    .gribiRedzTvlVairKApm {
      margin: 5px 0px 0px 67px;
      width: 612px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #000000;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
    }

    .rectangle193 {
      display: flex;
      align-items: flex-start;
      margin-top: 31px;
      margin-left: 269px;
      border-radius: 5px;
      background: #c347fc;
      padding: 18px 91px 23px 86px;

      .button {
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }
    }
  }
}
