* {
  box-sizing: border-box;
}

.group1000001832 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 50px;
  background: #f9f7fb;
  padding: 101px 59px 102px 60px;
  width: 1440px;
  height: 1627px;

  .koParMumsSakaPasKumu {
    margin: 0px 0px 0px 4px;
    width: 1313px;
    text-align: center;
    line-height: 67px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 60px;
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 62px;
    padding-right: 1px;
    padding-left: 3px;

    .group1000001793 {
      width: 75px;
      height: 75px;
    }

    .berniemPasakumiBalli {
      display: flex;
      align-items: flex-start;
      margin-top: 31px;
      border-radius: 20px;
      padding: 268px 179px 266px 173px;
      background-image: url(../image/mfggqqjr-63xzyr1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .berniemPasakumiBalli2 {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 298px 175px 297px 177px;
      background-image: url(../image/mfggqqjr-63xzyr1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 31px;

      .berniemPasakumiBalli3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
        padding: 267px 169px 267px 183px;
        background-image: url(../image/mfggqqjr-63xzyr1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .group1000001827 {
        margin-top: 27px;
        margin-left: 314px;
        width: 113px;
        height: 53px;
      }
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 27px;
    padding-right: 0;
    padding-left: 0;

    .rectangle139 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 20px;
      box-shadow: 3px 3px 44px 1px #0000001a;
      background: #ffffff;
      padding: 54px 28px 65px 37px;

      .labKaisPasKums {
        width: 362px;
        text-align: center;
        line-height: 29px;
        letter-spacing: 0.78px;
        color: #000000de;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .aIdeLsVeidsKSaliedTk {
        margin: 31px 0px 0px;
        width: 362px;
        height: 170px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 0;
        color: #000000de;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .group10 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin: 15px 27px 0px 47px;
        min-width: 288px;
        height: 55px;

        .image {
          border-radius: 100px;
          width: 45px;
          height: 45px;
        }

        .group8 {
          position: relative;
          width: 228px;
          height: 55px;

          .annaLinde {
            position: absolute;
            top: 0;
            left: 0;
            width: 142px;
            height: 28px;
            line-height: 30px;
            letter-spacing: 0;
            color: #000000de;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .cOoUzMums1 {
            position: absolute;
            top: 27px;
            left: 0;
            width: 228px;
            height: 28px;
            line-height: 30px;
            letter-spacing: 0;
            color: #000000de;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 27px;
    padding-right: 1px;
    padding-left: 347px;

    .group12600 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      width: 627px;
      min-width: 627px;
      height: 52px;

      .rectangle193 {
        display: flex;
        align-items: flex-start;
        border: 1px solid #6d5bff;
        border-radius: 5px;
        background: #ffffff;
        padding: 15px 67px 18px 63px;

        .button {
          line-height: 17px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }

      .rectangle1932 {
        display: flex;
        align-items: flex-start;
        border-radius: 5px;
        background: #c347fc;
        padding: 16px 60px 19px 56px;

        .button2 {
          line-height: 17px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }
    }

    .group12584 {
      width: 113px;
      height: 53px;
    }
  }
}
