* {
  box-sizing: border-box;
}

.rectangle219 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 4px 4px 28px 9px #d151ff33;
  padding: 91px 124px 56px 72px;
  width: 1260px;
  height: 1356px;
  background-image: linear-gradient(308.7deg, #109afc 5.91%, #c347fc 89.85%);

  .vLamaisPasKumaDatums {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 526px;
    height: 21px;
    letter-spacing: 0;
    color: #3f3f3f;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .tLrunis {
    width: 526px;
    letter-spacing: 0;
    color: #3f3f3f;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;

    .pieteiktiesPasKumam {
      width: 342px;
      line-height: 49px;
      letter-spacing: 0.88px;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 44px;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .vRds {
        width: 331px;
        letter-spacing: 0;
        color: #3f3f3f;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 300;
      }

      .rectangle215 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid #c1d5e3;
        border-radius: 10px;
        background: #ffffffe5;
        padding: 14px 214px 27px 15px;
        backdrop-filter: blur(2px);
      }

      .rectangle38 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 15px;
        border: 1px solid #c1d5e3;
        border-radius: 10px;
        background: #ffffffe5;
        padding: 14px 214px 27px 15px;
        backdrop-filter: blur(2px);
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 3px;
    padding-right: 0;
    padding-left: 0;

    .aizpildiSuPieteikuma {
      width: 431px;
      line-height: 25px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 12px;

      .rectangle39 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid #c1d5e3;
        border-radius: 10px;
        background: #ffffffe5;
        padding: 14px 19px 27px 15px;
        backdrop-filter: blur(2px);
      }

      .rectangle211 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 15px;
        border: 1px solid #c1d5e3;
        border-radius: 10px;
        background: #ffffffe5;
        padding: 14px 17px 24px 15px;
        min-width: 562px;
        backdrop-filter: blur(2px);

        .pasKumaVeids {
          width: 509px;
          letter-spacing: 0;
          color: #3f3f3f;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 300;
        }

        .dropdown {
          margin-top: 15px;
          width: 18px;
          height: 9px;
        }
      }

      .rectangle209 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 15px;
        border: 1px solid #c1d5e3;
        border-radius: 10px;
        background: #ffffffe5;
        padding: 14px 19px 22px 15px;
        backdrop-filter: blur(2px);

        .lDz30 {
          width: 223px;
          letter-spacing: 0;
          color: #000000;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 300;
        }

        .ellipse1819 {
          margin-top: 1px;
          border: 1px solid #3a434a;
          border-radius: 50%;
          background: #ffffff;
          width: 17px;
          height: 17px;
        }

        .lDz302 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 20px 269px 0px 4px;
          min-width: 253px;
        }

        .a30502 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 7px 269px 0px 4px;
          min-width: 253px;

          .ellipse1820 {
            display: flex;
            align-items: center;
            margin-top: 1px;
            border: 1px solid #109afc;
            border-radius: 50%;
            background: #ffffff;
            padding: 2px;

            .ellipse1824 {
              border: 1px solid #109afc;
              border-radius: 50%;
              background: #109afc;
              width: 11px;
              height: 11px;
            }
          }

          .a3050 {
            width: 223px;
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .a50100 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 8px 269px 0px 4px;
          min-width: 253px;
        }

        .a100200 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 6px 269px 0px 4px;
          min-width: 253px;
        }
      }
    }
  }

  .rectangle212 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 15px;
    margin-left: 502px;
    border: 1px solid #c1d5e3;
    border-radius: 10px;
    background: #ffffffe5;
    padding: 14px 19px 27px 15px;
    backdrop-filter: blur(2px);
  }

  .rectangle208 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 502px;
    border: 1px solid #c1d5e3;
    border-radius: 10px;
    background: #ffffffe5;
    padding: 14px 17px 26px 15px;
    min-width: 562px;
    backdrop-filter: blur(2px);

    .kasPiedalSiesPasKum {
      line-height: 21px;
      letter-spacing: 0;
      color: #3f3f3f;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
    }

    .dropdown2 {
      margin-top: 13px;
      width: 18px;
      height: 9px;
    }
  }

  .rectangle214 {
    position: relative;
    margin-top: 15px;
    margin-left: 502px;
    border: 1px solid #c1d5e3;
    border-radius: 10px;
    background: #ffffffe5;
    width: 562px;
    height: 64px;
    backdrop-filter: blur(2px);

    .vector21 {
      position: absolute;
      top: 24px;
      left: 525px;
      width: 18px;
      height: 9px;
    }
  }

  .rectangle216 {
    position: relative;
    margin-top: 15px;
    margin-left: 502px;
    border: 1px solid #c1d5e3;
    border-radius: 10px;
    background: #ffffffe5;
    width: 562px;
    height: 64px;
    backdrop-filter: blur(2px);

    .vector22 {
      position: absolute;
      top: 27px;
      left: 525px;
      width: 18px;
      height: 9px;
    }
  }

  .piekrTuJaunumiem {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 502px;
    min-width: 562px;

    .rectangle213 {
      margin-top: 3px;
      border: 1px solid #c1d5e3;
      border-radius: 2px;
      background: #ffffffe5;
      width: 20px;
      height: 19px;
      backdrop-filter: blur(2px);
    }

    .piekrTuSaEmtNorDTajE {
      width: 527px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 300;
    }
  }

  .rectangle193 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 30px;
    margin-left: 502px;
    border: 1px solid #c347fc;
    border-radius: 5px;
    background: #ffffff;
    padding: 14px 218px 15px 212px;

    .button {
      line-height: 17px;
      letter-spacing: 0;
      color: #c347fc;
      font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }
  }

  .rectangle1932 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 8px;
    margin-left: 502px;
    border-radius: 5px;
    background: #c347fc;
    padding: 15px 61px 16px 55px;

    .button2 {
      line-height: 17px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }
  }
}
