* {
  box-sizing: border-box;
}

.group1000001817 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1323px;
  height: 1345px;

  .component114 {
    display: flex;
    align-items: center;
    width: 314px;

    .berniemPasakumiBalli {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin-right: -1px;
      border-radius: 20px;
      background-image: url(../image/mf3th4xi-8d2nqzu.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle218 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 20px;
        padding: 62px 46px 30px 20px;
        background-image: linear-gradient(
          180.06deg,
          #15191e00 25.89%,
          #15191e 99.93%
        );

        .pasKumsN1 {
          display: flex;
          align-items: flex-end;
          width: 249px;
          height: 160px;
          line-height: 38px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 34px;
        }
      }
    }
  }

  .izvLiesSavuPasKumu {
    margin: 0px 0px 0px 114px;
    width: 1094px;
    text-align: center;
    line-height: 67px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 60px;
  }

  .mSrKojamPasKumusKasS {
    margin: 28px 0px 0px 29px;
    width: 1265px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .autoWrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 47px;
    padding-right: 98px;
    padding-left: 97px;

    .rectangle215 {
      display: flex;
      align-items: center;
      border-radius: 100px;
      box-shadow: 4px 0px 4px 0px #008efc33, 0px 4px 4px 0px #008efc33;
      background: #eef7fe;
      padding-top: 15px;
      padding-bottom: 15px;

      .filtrs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 212px;
        height: 20px;
        line-height: 17px;
        letter-spacing: 1.35px;
        color: #000000;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 26px;
    padding-right: 25px;
    padding-left: 23px;

    .rectangle2152 {
      display: flex;
      align-items: center;
      border-radius: 100px;
      box-shadow: 4px 0px 4px 0px #008efc33, 0px 4px 4px 0px #008efc33;
      background: #ffffff;
      padding-top: 15px;
      padding-bottom: 15px;

      .filtrs2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 195px;
        height: 20px;
        line-height: 17px;
        letter-spacing: 1.35px;
        color: #000000;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 48px;
    padding-right: 4px;
    padding-left: 1px;
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 4px;
    padding-left: 1px;
  }

  .autoWrapper5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 4px;
    padding-left: 1px;

    .berniemPasakumiBalli2 {
      position: relative;
      border-radius: 20px;
      background: #109afc;
      width: 314px;
      height: 252px;

      .unCitiPasKumi {
        display: flex;
        position: absolute;
        top: 66px;
        left: 20px;
        align-items: flex-end;
        width: 248px;
        height: 159px;
        line-height: 42px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 38px;
      }

      .vector {
        position: absolute;
        top: 193px;
        left: 256px;
        width: 24px;
        height: 24px;
      }
    }
  }

  .autoWrapper6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 72px;
    padding-right: 0;
    padding-left: 0;

    .vector2 {
      width: 35px;
      height: 35px;
    }

    .laiksPiedzVojumamIzv {
      margin: 0px 0px 0px 91px;
      width: 620px;
      line-height: 37px;
      letter-spacing: 0.66px;
      color: #000000;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 33px;
    }

    .rectangle193 {
      display: flex;
      align-items: flex-start;
      margin-top: 46px;
      margin-left: 261px;
      border-radius: 5px;
      background: #c347fc;
      padding: 18px 85px 23px 81px;

      .button {
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }
    }
  }
}
