* {
  box-sizing: border-box;
}

.rectangle163 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 4px 34px 0px #0000000d;
  background: #ffffff;
  padding: 90px 27px 140px 26px;
  width: 1366px;
  height: 1638px;
  backdrop-filter: blur(6px);

  .komandasSadarbBa {
    width: 59px;
    height: 59px;
  }

  .jSuIeguvumi2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 3px;

    .aPaSPateicBasEstsUzM {
      margin: 12px 0px 0px 16px;
      width: 204px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .parProgrammasApguviV {
      margin: 12px 0px 0px;
      width: 234px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .nestandartaSituCijSg {
      margin: 12px 0px 0px 1px;
      width: 234px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .iepazStiKolUs2 {
      margin: 24px 0px 0px;
      width: 235px;
      text-align: center;
      line-height: 29px;
      letter-spacing: 0.78px;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .kasNoderAtpTPieDabas {
      margin: 12px 0px 0px 8px;
      width: 234px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .jaunasZinAnas2 {
      margin: 24px 0px 0px;
      width: 249px;
      text-align: center;
      line-height: 29px;
      letter-spacing: 0.78px;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .jSuIeguvumi {
      margin: 0px 0px 0px 212px;
      width: 910px;
      text-align: center;
      line-height: 49px;
      letter-spacing: 0.88px;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 44px;
    }

    .autoWrapper {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 66px;
      padding-right: 0;
      padding-left: 14px;

      .jaunasZinAnas3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .jaunasZinAnas {
          margin-left: 95px;
          width: 63px;
          height: 59px;
        }
      }

      .iepazStiKolUs3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25px;

        .iepazStiKolUs {
          margin-left: 79px;
          width: 59px;
          height: 59px;
        }
      }

      .komandasSadarbBa2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 16px;

        .uzticAnSKolIemUnSavs {
          margin: 12px 0px 0px;
          width: 258px;
          text-align: center;
          line-height: 25px;
          letter-spacing: 0;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .nodarbinTsPrTs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;

        .veicinaIzdomuRadoUDo {
          margin: 12px 0px 0px;
          width: 204px;
          text-align: center;
          line-height: 25px;
          letter-spacing: 0;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .attStaPatstVBu2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 28px;

        .attStaPatstVBu {
          margin-left: 90px;
          width: 65px;
          height: 59px;
        }
      }
    }

    .autoWrapper3 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 67px;
      padding-right: 0;
      padding-left: 268px;

      .sertifikTiUnDiplomi2 {
        margin: 18px 0px 0px;
        width: 235px;
        text-align: center;
        line-height: 29px;
        letter-spacing: 0.78px;
        color: #080808;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .autoWrapper2 {
        position: relative;
        width: 276px;
        height: 222px;

        .pozitVaGaisotne3 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 276px;
          height: 222px;

          .pozitVaGaisotne {
            margin-left: 110px;
            width: 59px;
            height: 59px;
          }

          .pozitVaGaisotne2 {
            margin: 18px 0px 0px 20px;
            width: 235px;
            text-align: center;
            line-height: 29px;
            letter-spacing: 0.78px;
            color: #080808;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 26px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }

          .profesionLuVadTJuUnI {
            margin: 12px 0px 0px;
            width: 276px;
            text-align: center;
            line-height: 25px;
            letter-spacing: 0;
            color: #080808;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }

        .koncentrAnSSpJas3 {
          display: flex;
          position: absolute;
          top: 0;
          left: -271px;
          flex-direction: column;
          align-items: flex-start;
          width: 283px;
          height: 197px;

          .koncentrAnSSpJas {
            margin-left: 115px;
            width: 57px;
            height: 59px;
          }

          .koncentrAnSSpJas2 {
            margin: 18px 0px 0px;
            width: 283px;
            text-align: center;
            line-height: 29px;
            letter-spacing: 0.78px;
            color: #080808;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 26px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }

          .stiprinTaLDzsvaraIzj {
            margin: 12px 0px 0px 25px;
            width: 234px;
            text-align: center;
            line-height: 25px;
            letter-spacing: 0;
            color: #080808;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }

      .sertifikTiUnDiplomi3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 6px;

        .sertifikTiUnDiplomi {
          width: 47px;
          height: 59px;
        }
      }

      .pRsteigumaBalva2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 27px;

        .pRsteigumaBalva {
          margin-left: 82px;
          width: 65px;
          height: 59px;
        }
      }

      .atklJasJauniLDeri2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 28px;

        .atklJasJauniLDeri {
          margin-left: 98px;
          width: 49px;
          height: 59px;
        }
      }
    }

    .autoWrapper4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 87px;
      padding-right: 14px;
      padding-left: 0;

      .individuLaPieeja2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .individuLaPieeja {
          margin-left: 92px;
          width: 70px;
          height: 59px;
        }
      }

      .profesionLaKomanda2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25px;

        .profesionLaKomanda {
          margin-left: 68px;
          width: 81px;
          height: 59px;
        }
      }

      .izdevGkLielKmGrupM3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .izdevGkLielKmGrupM {
          width: 98px;
          height: 59px;
        }

        .izdevGkLielKmGrupM2 {
          margin: 24px 0px 0px;
          width: 289px;
          text-align: center;
          line-height: 29px;
          letter-spacing: 0.78px;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 26px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }

      .droBaVienmR1Viet2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .droBaVienmR1Viet {
          margin-left: 99px;
          width: 48px;
          height: 59px;
        }
      }

      .organizJamNoAlDz {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 28px;
      }
    }
  }

  .garantijasUnBonusi2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 90px;

    .garantijasUnBonusi {
      margin: 0px 0px 0px 203px;
      width: 910px;
      text-align: center;
      line-height: 49px;
      letter-spacing: 0.88px;
      color: #080808;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 44px;
    }

    .autoWrapper5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 53px;
      padding-right: 89px;
      padding-left: 100px;

      .bezmaksasKonsultCija {
        margin-left: 210px;
        width: 59px;
        height: 59px;
      }

      .a50Avanss {
        margin-left: 192px;
        width: 62px;
        height: 59px;
      }

      .a1ProgrammasLabojums {
        margin-left: 209px;
        width: 54px;
        height: 59px;
      }

      .a100NaudasAtgrieAna {
        margin-left: 198px;
        width: 81px;
        height: 59px;
      }
    }

    .autoWrapper11 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 24px;
      padding-right: 0;
      padding-left: 0;

      .a30MinBezmaksasKonsu {
        width: 235px;
        text-align: center;
        line-height: 29px;
        letter-spacing: 0.78px;
        color: #080808;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .videoUnPdfFormTvlPir {
        margin: 24px 0px 0px;
        width: 234px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 0;
        color: #080808;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .autoWrapper6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .saEmProgrammuUzreiz {
          width: 259px;
          text-align: center;
          line-height: 29px;
          letter-spacing: 0.78px;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 26px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }

      .autoWrapper7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .izrunJamVajadzBasUnI {
          margin: 24px 0px 0px;
          width: 276px;
          text-align: center;
          line-height: 25px;
          letter-spacing: 0;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 6px;
      }

      .autoWrapper9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 20px;

        .jaVLiesKautKoPielGot {
          margin: 24px 0px 0px;
          width: 250px;
          text-align: center;
          line-height: 25px;
          letter-spacing: 0;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .autoWrapper10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 9px;

        .jaPasKumsAtceltsVism {
          margin: 28px 0px 0px;
          width: 258px;
          text-align: center;
          line-height: 25px;
          letter-spacing: 0;
          color: #080808;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }
  }
}
