* {
  box-sizing: border-box;
}

.group12704 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-right: 85px;
  padding-left: 73px;
  width: 1440px;
  height: 946px;

  .autoWrapper {
    position: relative;
    margin-top: -470px;
    margin-left: 498px;
    width: 298px;
    height: 1440px;

    .noderGi {
      width: 278px;
      height: 45px;
      line-height: 30px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .rectangle89 {
      position: absolute;
      top: 0;
      left: 0;
      background: #081528;
      width: 298px;
      height: 1440px;
      rotate: 90deg;
    }

    .sIaReLsPiedzVojums1R4 {
      position: absolute;
      top: 719px;
      left: -498px;
      width: 251px;
      height: 115px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 15px;

      .sIaReLsPiedzVojums1R {
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
      }

      .sIaReLsPiedzVojums1R2 {
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .sIaReLsPiedzVojums1R3 {
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }
    }

    .group1000001863 {
      display: flex;
      position: absolute;
      top: 664px;
      left: -182px;
      flex-direction: column;
      align-items: flex-start;
      width: 278px;
      height: 121px;

      .group12582 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 4px;
        margin-right: 9px;

        .privTumaPolitika {
          width: 269px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .group1000001864 {
      position: absolute;
      top: 664px;
      right: -119px;
      width: 343px;
      height: 116px;

      .group12579 {
        display: flex;
        position: absolute;
        top: 36px;
        left: 0;
        align-items: center;
        justify-content: space-between;
        width: 343px;
        height: 49px;

        .sms {
          width: 27px;
          height: 24px;
        }

        .infoRealspiedzivojum {
          display: flex;
          align-items: center;
          width: 307px;
          height: 49px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .kontaktinformCija {
        position: absolute;
        top: 0;
        left: 0;
        width: 278px;
        height: 45px;
        line-height: 30px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .group12578 {
        display: flex;
        position: absolute;
        top: 67px;
        left: 1px;
        align-items: center;
        justify-content: space-between;
        width: 269px;
        height: 49px;

        .callCalling {
          width: 24px;
          height: 24px;
        }

        .a37122330002 {
          display: flex;
          align-items: center;
          width: 236px;
          height: 49px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .group12705 {
      display: flex;
      position: absolute;
      top: 800px;
      right: -330px;
      align-items: center;
      padding-right: 1px;
      padding-bottom: 1px;
      width: 187px;
      height: 28px;

      .socialIcons {
        margin-left: -1px;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }

      .socialIcons2 {
        margin-left: 9px;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }

      .draugiemLv2 {
        margin-left: 10px;
        width: 28px;
        height: 28px;
        overflow: hidden;
      }
    }

    .layer1 {
      position: absolute;
      top: 619px;
      left: -498px;
      width: 186px;
      height: 77px;
      overflow: hidden;
    }

    .group1000001862 {
      display: flex;
      position: absolute;
      top: 664px;
      right: -501px;
      flex-direction: column;
      align-items: flex-start;
      width: 379px;
      height: 101px;

      .rectangle257 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 11px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding-left: 15px;
        min-width: 379px;
        height: 45px;

        .ePasts {
          width: 107px;
          letter-spacing: 0;
          color: #949292;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .rectangle258 {
          display: flex;
          align-items: center;
          border: 2px solid #c347fc;
          border-radius: 5px;
          padding-top: 9px;
          padding-bottom: 9px;

          .pieteikties {
            width: 128px;
            text-align: center;
            letter-spacing: 0;
            color: #c347fc;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            text-transform: UPPERCASE;
          }
        }
      }
    }
  }

  .autoWrapper2 {
    position: relative;
    margin-top: -809px;
    margin-left: 623px;
    width: 47px;
    height: 1440px;

    .rectangle208 {
      position: absolute;
      top: 0;
      left: 0;
      background: #081528;
      width: 47px;
      height: 1440px;
      rotate: 90deg;
    }

    .a2025ReLsPiedzVojums {
      position: absolute;
      top: 707px;
      right: -119px;
      width: 278px;
      height: 25px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: -1175px;
    padding-right: 39px;
    padding-left: 0;

    .saturs {
      margin: 4px 0px 0px;
      width: 176px;
      line-height: 30px;
      letter-spacing: 0;
      color: #131313;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .uzMumiem {
      opacity: 0.85;
      margin: 4px 0px 0px 75px;
      line-height: 30px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .skolNiem {
      opacity: 0.85;
      margin: 4px 0px 0px 103px;
      line-height: 30px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .aImenM {
      opacity: 0.85;
      margin: 0px 0px 0px 103px;
      line-height: 30px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }

    .patKVisiem {
      opacity: 0.85;
      margin: 0px 0px 0px 86px;
      line-height: 30px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: UPPERCASE;
    }
  }

  .autoWrapper5 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 18px;
    padding-right: 0;
    padding-left: 0;

    .parMumsMSuKomandaPav {
      margin: 4px 0px 0px;
      width: 176px;
      letter-spacing: 0;
      color: #131313;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .korporatViePasKumiSp {
      opacity: 0.85;
      margin: 4px 0px 0px 75px;
      line-height: 21px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .dzimAnasDienaSportaD {
      opacity: 0.85;
      margin: 4px 0px 0px 8px;
      line-height: 21px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .autoWrapper4 {
      position: relative;
      margin-left: 50px;
      width: 210px;
      height: 168px;

      .dzimAnasDienaGadskRt {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.85;
        width: 210px;
        height: 168px;
        line-height: 21px;
        letter-spacing: 0;
        color: #585757;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .pilsTuSvTkiGadskRtuS {
        position: absolute;
        top: 0;
        right: -160px;
        opacity: 0.85;
        width: 170px;
        height: 84px;
        line-height: 21px;
        letter-spacing: 0;
        color: #585757;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .bamperBumbasLokaAuAn {
      opacity: 0.85;
      margin: 0px 0px 0px 213px;
      line-height: 21px;
      letter-spacing: 0;
      color: #585757;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
